.pet-gallery {
  width: 100%;
}
.gallery-header {
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery-header-heading {
  font-size: 18px;
  color: #e92e4a;
}
.gallery-main {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.add-wrapper {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  contain: content;
}
.add-top-bar {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  border-bottom: 1px solid #d2d2d2;
}
.add-top-bar i {
  align-self: flex-end;
  padding: 10px;
}
.add-screen {
  height: 449px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}
.add-screen input {
  margin: 10px;
}
.add-image {
  width: 300px;
  height: 300px;
  contain: content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #d2d2d2;
}
.add-image img {
  width: 100%;
}
