.add-pet-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.add-pet {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background: #fff;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
.add-pet h1 {
  margin: 20px;
  color: #e92e4a;
}
.add-pet .button {
  background: #209420;
  color: white;
  font-size: 20px;
  padding: 10px 0px;
  margin: 10px;
  border-radius: 3px;
  width: 415px;
  cursor: pointer;
  transition: background 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
}
.register > .button:hover {
  background-color: rgb(0, 107, 0);
}
.toLogin a {
  color: #e92e4a;
}
input[type="file"] {
  padding: none;
  border: none;
}
input,
select {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin: 8px 4px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}
input:focus,
select:focus {
  border: 2px solid rgb(0, 150, 0);
}
