.AddPetPage,
.AddProductPage{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.ImagePreview{
    height: 250px;
    width: 250px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.ImagePreview > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.form{
    width: 70%;
    /* height: 100%; */
}
label{
    color: rgb(150, 150, 150);
    font-size: 18px;
}
.form-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.form-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

}
input,select,textarea{
    width: 70%;
    color: rgb(150, 150, 150);
}
option,
input,textarea,select,button{
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}
input[type=  file],button{
    border: none !important;
}
#button{
    color: white;
    margin: 0 !important;
    background-color: green;
    width: 60% !important;

}
#button:hover{
    background-color: rgb(0, 185, 0);
}
option:focus,
select:focus,
textarea:focus,
input:focus{
    border: 1px solid black;
    color: black;
}
select:hover,
textarea:hover,
input:hover{
    border: 1px solid rgb(127, 211, 0);
}
.required{
    color: red !important;

}